{% extends "base.html" %}
{% load  blog_tags %}
{% load staticfiles %}
{% load bootstrap3 %}

{% block extrahead %}
<meta name="description" content="{{blog.description}}" />
<link rel="alternate" href="http://feeds.feedburner.com/youbitch/qGWn" type="application/rss+xml" title="RSS 2.0" />
<link rel="EditURI" href="{{ site_url }}blog/xmlrpc/" type="application/rsd+xml" title="RSD" />
<link rel="archives" href="{{  site_url }}blog/archive/" title="Archives" charset="utf-8" />
<link rel="pingback" href="{{ site_url }}blog/xmlrpc/" />
<link rel="stylesheet" type="text/css" href="{% static "pygments-css/zenburn.css" %}">
<link rel="stylesheet" type="text/css" href="{% static "xblog-css/xblog.css" %}">
<script src="{% static "js/rango-ajax.js" %}"></script>

<style>
/*    code { 
        background-color: #001144; 
         display: block; 
        margin: 10pt;
        padding: 10pt; 
        border: 2px solid;
        border-radius: 12px;
        
    
    }
*/
</style>
{% endblock %}
{% block subpagetitle %}blog{% endblock %}
{% block pagestyle %}blog{% endblock %}
{% block leftnav %}{% endblock %}
<!-- main content -->
{% block maincontent %}

Main content goes here.

{% endblock %}
      {% block pager %}
      <!-- blog_base.html:2 -->
      
        <nav>
          <ul class="pager">
          {% if page_obj.has_previous %}
            <li><a href="?page={{ page_obj.previous_page_number }}">{% bootstrap_icon "circle-arrow-left" %} Previous</a></li>
          {% endif %}
          {% if page_obj.has_next %}
            <li><a href="?page={{ page_obj.next_page_number }}">Next {% bootstrap_icon "circle-arrow-right" %}</a></li>
          {% endif %}
          </ul>
        </nav>
      {% endblock %}

<!-- /main content -->

{% block rightnav %}
{% get_blogroll %}
<div id="blogroll" class="sidebar-module">
	<h3>Blogroll {% bootstrap_icon "rss" %}</h3>
	{% for cat in blogroll_categories %}
	<h4>{{ cat.title }}</h4>
	<ul class="list-unstyled">{% for link in cat.link_set.all|dictsort:"link_name" %}
	   <li class="blogroll"><a href="{{link.url}}">{{ link.link_name }}</a></li>
        {% endfor %}
        </ul>
{% endfor %}
	<p class="blogrollheader">Archives</p>
	{% get_blog_months %}
	{% for month in blog_months %}
	{% ifchanged %}{% if not forloop.first %}<br />{% endif %}<span class="blogrollheader"><a href="/blog/{{month.year}}">{{month|date:"Y"|lower}}</a></span><br />{% endifchanged %}
		<a href="/blog/{{ month|date:"Y/M"|lower }}/" title="{{ month|date:"M Y" }}">{{ month|date:"M" }}</a>
		{% ifequal month.month 6  %}<br />{% endifequal %}{% endfor %}
	</div><!-- /blogroll -->
    
{% endblock %}

