{% comment %}
{% extends "base_site.html" %}
{% endcomment %}
{% block extrahead %}
{% load  blog_tags %}
{% comment %}
{% load thumbnail %}
{% endcomment %}
<meta name="description" content="{{blog.description}}" />
<link rel="alternate" href="http://feeds.feedburner.com/youbitch/qGWn" type="application/rss+xml" title="RSS 2.0" />
<link rel="EditURI" href="{{ site_url }}blog/xmlrpc/" type="application/rsd+xml" title="RSD" />
<link rel="archives" href="{{  site_url }}blog/archive/" title="Archives" charset="utf-8" />
<link rel="pingback" href="{{ site_url }}blog/xmlrpc/" />
{% endblock %}
{% block pagetitle %}blog{% endblock %}
{% block pagestyle %}blog{% endblock %}
{% block leftnav %}{% endblock %}
<!-- main content -->
{% block maincontent %}

Main content goes here.

{% endblock %}
<!-- /main content -->

{% block rightnav %}
{% get_blogroll %}
<div id="blogroll">
	<h2>Latest Comments</h2>
	{% for cat in blogroll_categories %}
	<h2>{{ cat.title }}</h2>
	<ul>{% for link in cat.link_set.all|dictsort:"link_name" %}
	   <li class="blogroll"><a href="{{link.url}}">{{ link.link_name }}</a></li>
        {% endfor %}
        </ul>
{% endfor %}
	<p class="blogrollheader">Archives</p>
	{% get_blog_months %}
	{% for month in blog_months %}
	{% ifchanged %}{% if not forloop.first %}<br />{% endif %}<span class="blogrollheader"><a href="/blog/{{month.year}}">{{month|date:"Y"|lower}}</a></span><br />{% endifchanged %}
		<a href="/blog/{{ month|date:"Y/M"|lower }}/" title="{{ month|date:"M Y" }}">{{ month|date:"M" }}</a>
		{% ifequal month.month 6  %}<br />{% endifequal %}{% endfor %}
	</div><!-- /blogroll -->
{% endblock %}

