{% extends "xblog/blog_base.html" %}

{% block maincontent %}
<form action="" method="post" accept-charset="utf-8">
	

	<p><input type="submit" value="Continue &rarr;"></p>


<table border="0" cellspacing="5" cellpadding="5">

{{ form.as_table }}	
</table>
</form>

{% endblock %}

