{% extends "xblog/post_archive_month.html" %}
{% block yearnav %}&nbsp;&rsaquo;<a href="../../">{{day|date:"Y"}}</a>{% endblock %}{% block monthnav %}&nbsp;&rsaquo;<a href="..">{{day|date:"F"}}</a>{% endblock %}&nbsp;&rsaquo;{% block daynav %}&nbsp;&rsaquo;{{day|date:"d"}}{% endblock %}
