{% extends "xblog/post_archive_year.html" %}
{% block pagetitle %}{{ thisblog.title }} Archive for {{month|date:"F Y" }}{% endblock %}
{% block yearnav %}&nbsp;&rsaquo;<a href="../">{{month|date:"Y"}}</a>{% endblock %}{% block monthnav %}&nbsp;&rsaquo;{{month|date:"F"}}{% endblock %}
{% block maincontent %}
{% comment %}
{% load comments %}
{% endcomment %}
{% for post in object_list %}
{% ifchanged %}<p>Back to <a href="/blog/">Recent Post</a></p>{% endifchanged %}
{% ifchanged %}<p>Back to <a href="{{ post.get_year_archive_url }}">{{ post.pub_date|date:"Y"}}</a></p>{% endifchanged %}
{% ifchanged %}<h2><a href="{{ post.get_month_archive_url }}">{{ post.pub_date|date:"F"}}</a></h2>{% endifchanged %}

{% comment %}
{% get_free_comment_count for xblog.post post.id as comment_count %}
{% endcomment %}
<!-- a post -->
<div id="post-{{ post.id }}" class="item entry">
	<div class="itemhead">
		<h3><a href="{{ post.get_absolute_url }}" title="{{ post.title }}">{{ post.title}}</a></h3>
		<small class="metadata">
			<span class="chronodata">Posted by <span class="vcard author">{{ post.author.get_profile.fullname }} on {{ post.pub_date|date:"jS o\f F, Y" }}</span> 
			in 
			<span class="entry-category">{{ post.categories.all|join:","}}</span><br />
			<a class="commentslink" href="{{ post.get_absolute_url}}#comments" title="Comments on {{ post.title }}">{{ comment_count  }} Comments</a>  <a class="pingbacklink" href="{{ post.get_absolute_url }}#pingbacks" title="Pingbacks on {{ post.title }}">{{ post.get_pingback_count }} Pings</a>
		</small>	
	</div><!-- /itemhead -->
</div>
<!-- /a post -->

{% endfor %}
{% endblock %}
