{% extends "xblog/post_archive.html" %}
{% load markup %}
{% block extratitle %}{{ object.title }}{% endblock %}
{% block yearnav %}&nbsp;&rsaquo;<a href="../../../">{{object.pub_date|date:"Y"}}</a>{% endblock %}{% block monthnav %}&nbsp;&rsaquo;<a href="../../">{{object.pub_date|date:"F"}}</a>{% endblock %}{% block daynav %}&nbsp;&rsaquo;<a href="../">{{object.pub_date|date:"d"}}</a>{% endblock %}
{% block extrarightnav %}
	
{% endblock %}	
{% block maincontent %}
<!-- a post -->
<div id="post-{{ object.id }}" class="item entry">
	<div class="itemhead">
		<h3><a href="{{ object.get_absolute_url }}" title="{{ object.title }}">
		{{ object.title|safe}}
		</a></h3>
		<small class="metadata">
			<span class="chronodata">Posted by <span class="vcard author">{{ object.author.get_profile.fullname }}</span> 
			in 
			<span class="entry-category">{{ object.categories.all|join:","}}</span> at {{ object.pub_date|date:"P"}} on {{ object.pub_date|date:"N dS, Y"}}<br />
			<a class="commentslink" href="#comments" title="Comments on {{ object.title }}">{{ comment_count  }} Comments</a>  <a class="pingbacklink" href="#pingbacks" title="Pingbacks on {{ object.title }}">{{ object.get_pingback_count }} Pings</a></span>
		</small>	
	</div><!-- /itemhead -->
	<div class="entrycontent">
		{{ object.get_full_body|safe }}
	</div><!-- entrycontent -->
</div>
<!-- /a post -->
	<!--
	<rdf:RDF xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#"
				xmlns:dc="http://purl.org/dc/elements/1.1/"
				xmlns:trackback="http://madskills.com/public/xml/rss/module/trackback/">
			<rdf:Description rdf:about="{{ object.get_absolute_uri}}"
	    		dc:identifier="{{ object.get_absolute_uri }}"
			dc:title="{{ object.title }}"
			trackback:ping="{{ object.get_absolute_uri }}trackback/" />
	</rdf:RDF> -->
	<!-- begin comments -->

{% comment %}
	{% get_free_comment_count for xblog.post object.id as comment_count %}
	{% get_free_comment_list for xblog.post object.id as comment_list %}
{% endcomment %}

	{% for pb in object.pingback_set.all %}
	{% ifchanged %}<h3>Pingbacks</h3>
		<a id="pingbacks"></a>{% endifchanged %}
		<div class="comment">
			<span class="comnum"><a href="{{pb.source_url}}">{{ pb.title }}</a>&rarr;<a href="{{ pb.target_url }}"></a></span>
		</div><!-- /comment -->
	{% endfor %}
	<a id="comments"></a>
	<h3>Comments</h3>
	{% for comment in comment_list %}
		<div class="comment {% cycle odd,even %}" id="c{{ comment.id }}">
			<span class="comnum"><a id="c{{ comment.id }}" href="#c{{ comment.id }}"></a></span>
			<h3><a href="{{comment.person_url}}">{{ comment.person_name }}</a></h3>
		    <small class="postmeta"><a class="commentslink" href="{{ comment.person_url }}">{{ comment.submit_date|date:"F j, Y" }} at {{ comment.submit_date|date:"P" }}:</a></small>
			{{ comment.comment|urlizetrunc:40|markdown:"footnotes" }}
		</div><!-- /comment-{{ comment.id }} -->
	{% endfor %}
	<div id="commentform">
{% comment %}
	{% if object.comment_period_open %}

		{% free_comment_form for xblog.post object.id %}
	{% else %}
		<p>Comments for "{{ object.title }}" are closed.</p>
	{% endif %}
    
{% endcomment %}
	</div><!-- /commentform -->
{% endblock %}
