{% extends "xblog/blog_base.html" %}
{% block pagetitle %}{{ thisblog.title }} Yearly Archive for {{ year}}{% endblock %}
{% block maincontent %}

	{% for post in object_list %}
	{% ifchanged %}<h2><a href="{{ post.get_month_archive_url }}">{{ post.pub_date|date:"F Y"}}</a></h2>{% endifchanged %}
	{% comment %}
    {% get_free_comment_count for xblog.post post.id as comment_count %}
    {% endcomment %}
	<!-- a post -->
	<div id="post-{{ post.id }}" class="item entry">
		<div class="itemhead">
			<h3><a href="{{ post.get_absolute_url }}" title="{{ post.title }}">{{ post.title}}</a></h3>
			<small class="metadata">
				<span class="chronodata">Posted by <span class="vcard author">{{ post.author.get_profile.fullname }}</span> 
				in 
				<span class="entry-category">{{ post.categories.all|join:","}}</span> at {{ post.pub_date|date:"P" }} on {{ post.pub_date|date:"F j" }}<br />
				<a class="commentslink" href="{{ post.get_absolute_url}}#comments" title="Comments on {{ post.title }}">{{ comment_count  }} Comments</a>  <a class="pingbacklink" href="{{ post.get_absolute_url }}#pingbacks" title="Pingbacks on {{ post.title }}">{{ post.get_pingback_count }} Pings</a>
			</small>	
		</div><!-- /itemhead -->
	</div>
	<!-- /a post -->

	{% endfor %}
{% endblock %}
